doctype html
html
  head
    title= subject
  body
    h3 Hello, #{name}!
    p Your account has been restored. Kindly login to with the following credentials:
    p
    h5 ACCOUNT CREDENTIALS
    p
    p Username: #{email}
    p Password: #{password}
    p
    p You can access the portal via this link:
    p
    a(href=link) Agent Portal
    p Thank you.
    p
    p If you don't want to use with this account, no problem. Let us know it’s not your account by reaching out to us and we’ll walk you through the quick process of removing your email address from this account.
